{{ define "main" }}
<section class="intro">
  <h1>Hey! I’m Faus, a <strong>Senior Product Designer</strong>, turning complexity into seamless experiences</h1>
  <p>I believe great design should feel effortless. I thrive in ambiguity, cutting through complexity to craft experiences that are clean, intuitive, and almost invisible to the user.</p>
</section>

<section id="work">
  <h2>Work</h2>
  
      <div class="work-image">
          <div class="gradient-bg"></div>
      </div>
      <div class="work-details">
        <h3><strong>Dialpad</strong> AI-Powered Communication Tool</h3>
        <p class="work-date"><em>2024 – Now</em></p>
        <p>
          Dialpad is an AI-powered communication platform that helps businesses streamline conversations across voice, video, messaging, and web chat. As a Senior Product Designer on the Omnichannel team, I focus on designing seamless customer interactions while ensuring a consistent experience across integrations with platforms like Salesforce and Microsoft Teams. My role involves collaborating with cross-functional teams to create intuitive workflows that enhance usability and efficiency for businesses leveraging Dialpad’s AI-driven solutions.</strong>.
        </p>
    </div>
  
</section>


{{ end }}