{{ define "main" }}
<section class="intro">
  <h1>Hey! I’m Faus, a <strong>Senior Product Designer</strong>, turning complexity into seamless experiences</h1>
  <p>I believe great design should feel effortless. I thrive in ambiguity, cutting through complexity to craft experiences that are clean, intuitive, and almost invisible to the user.</p>
</section>



<section class="projects">
  <h4>✷ Projects</h4>
  <div class="projects-grid">
    <a href="/case-studies/dialpad/" class="project-card">
      <img src="{{ .Site.BaseURL }}images/dialpad.png" alt="Dialpad AI" class="default">
      <img src="{{ .Site.BaseURL }}images/dialpad-hover.png" alt="Dialpad AI" class="hover">
    </a>
    <a href="/projects/bonsai/" class="project-card">
      <img src="{{ .Site.BaseURL }}images/bonsai.png" alt="Bonsai" class="default">
      <img src="{{ .Site.BaseURL }}images/bonsai-hover.png" alt="Bonsai" class="hover">
    </a>
    <a href="/projects/thirdlove/" class="project-card">
      <img src="{{ .Site.BaseURL }}images/thirdlove.png" alt="ThirdLove" class="default">
      <img src="{{ .Site.BaseURL }}images/thirdlove-hover.png" alt="ThirdLove" class="hover">
    </a>
    <a href="/projects/ui/" class="project-card">
      <img src="{{ .Site.BaseURL }}images/ui.png" alt="User Interviews" class="default">
      <img src="{{ .Site.BaseURL }}images/ui-hover.png" alt="User Interviews" class="hover">
    </a>
  </div>
</section>


{{ end }}