{{ define "main" }}
<section class="intro">
  <h1>Hey! I’m Faus, a <strong>Senior Product Designer</strong>, turning complexity into seamless experiences</h1>
  <p>I believe great design should feel effortless. I thrive in ambiguity, cutting through complexity to craft experiences that are clean, intuitive, and almost invisible to the user.</p>
</section>



<section class="projects">
  <h4>✷ Projects</h4>
  <div class="projects-grid">
    <a href="{{ "case-studies/dialpad/" | relURL }}" class="project-card">
      <img src="{{ "images/dialpad.png" | relURL }}" alt="Dialpad AI" class="default">
      <img src="{{ "images/dialpad-hover.png" | relURL }}" alt="Dialpad AI" class="hover">
    </a>
    <a href="{{ "case-studies/bonsai/" | relURL }}" class="project-card">
      <img src="{{ "images/bonsai.png" | relURL }}" alt="Bonsai" class="default">
      <img src="{{ "images/bonsai-hover.png" | relURL }}" alt="Bonsai" class="hover">
    </a>
    <a href="{{ "case-studies/thirdlove/" | relURL }}" class="project-card">
      <img src="{{ "images/thirdlove.png" | relURL }}" alt="ThirdLove" class="default">
      <img src="{{ "images/thirdlove-hover.png" | relURL }}" alt="ThirdLove" class="hover">
    </a>
    <a href="{{ "case-studies/ui/" | relURL }}" class="project-card">
      <img src="{{ "images/ui.png" | relURL }}" alt="User Interviews" class="default">
      <img src="{{ "images/ui-hover.png" | relURL }}" alt="User Interviews" class="hover">
    </a>
  </div>
</section>


{{ end }}


<img src="{{ "images/dialpad.png" | relURL }}" alt="Dialpad AI" class="default">